<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Allow Arbitrary Loads</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>OpenSans-SemiboldItalic.ttf</string>
		<string>Ubuntu-B.ttf</string>
		<string>Ubuntu-BI.ttf</string>
		<string>Ubuntu-C.ttf</string>
		<string>Ubuntu-L.ttf</string>
		<string>Ubuntu-LI.ttf</string>
		<string>Ubuntu-M.ttf</string>
		<string>Ubuntu-MI.ttf</string>
		<string>Ubuntu-R.ttf</string>
		<string>Ubuntu-RI.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We need your location for calculating the milage of your vehicle.</string>
</dict>
</plist>
